mixin header-block()
	// start header-block
	+b.header-block#header-block
		.container
			+b.section-title.text-center
				h1 Ну здравствуй. 
				h2 Вот ты прошел по этой ссылке и хотел увидеть что-то интерестное, но здесть такого не будет<br> Этот лендинг создавался для целей которые более не актуальны.<br> Поэтому просто заходи и подписывайся на мой #[a(href="https://www.instagram.com/packetona_maliakina/") Instagramm]
	// end header-block